[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kopf = "*"
pyyaml = "*"
kubernetes = "*"
jsonpatch = "*"
json-merge-patch = "*"
expiringdict = "*"
jinja2 = "*"
pytz = "*"
prometheus_client = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
pylint = "*"
pytest-black = "*"
pytest-flake8 = "*"
pytest-mock = "*"
chartpress = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
