{{- if .Values.scheduler.enable }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "amalthea.fullname" . }}-scheduler-policy
  namespace: {{ .Release.Namespace }}
data:
  policy.cfg: |
    apiVersion: v1
    kind: Policy
    {{- with .Values.scheduler.priorities }}
    priorities:
      {{- toYaml . | nindent 6}}
    {{- end}}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "amalthea.fullname" . }}-scheduler-config
  namespace: {{ .Release.Namespace }}
data:
  # ref: https://kubernetes.io/docs/reference/scheduling/config/
  config.yaml: |
    apiVersion: kubescheduler.config.k8s.io/v1beta1
    kind: KubeSchedulerConfiguration
    leaderElection:
      resourceLock: endpoints
      resourceName: {{ include "amalthea.fullname" . }}-lock
      resourceNamespace: "{{ .Release.Namespace }}"
    profiles:
      - schedulerName: {{ include "amalthea.fullname" . }}-scheduler
{{- end }}
