{{- if .Values.scheduler.packing.enabled }}
{{- if semverCompare ">=1.23.0-0" .Capabilities.KubeVersion.GitVersion }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "amalthea.fullname" . }}-scheduler-config
  namespace: {{ .Release.Namespace }}
data:
  # ref: https://kubernetes.io/docs/concepts/scheduling-eviction/resource-bin-packing/#enabling-bin-packing-using-mostallocated-strategy
  config.yaml: |
    {{- if semverCompare ">=1.25.0-0" .Capabilities.KubeVersion.GitVersion }}
    apiVersion: kubescheduler.config.k8s.io/v1
    {{- else }}
    apiVersion: kubescheduler.config.k8s.io/v1beta3
    {{- end }}
    kind: KubeSchedulerConfiguration
    profiles:
      - pluginConfig:
          - args:
              scoringStrategy:
                resources:
                  - name: cpu
                    weight: 100
                  - name: memory
                    weight: 100
                type: MostAllocated
            name: NodeResourcesFit
{{- else }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "amalthea.fullname" . }}-scheduler-policy
  namespace: {{ .Release.Namespace }}
data:
  policy.cfg: |
    apiVersion: v1
    kind: Policy
    priorities:
      - name: MostRequestedPriority
        weight: 100
      - name: ServiceSpreadingPriority
        weight: 1
      - name: EqualPriority
        weight: 1
      - name: ImageLocalityPriority
        weight: 1
      - name: SelectorSpreadPriority
        weight: 1
      - name: InterPodAffinityPriority
        weight: 1
      - name: LeastRequestedPriority
        weight: 1
      - name: BalancedResourceAllocation
        weight: 1
      - name: NodePreferAvoidPodsPriority
        weight: 1
      - name: NodeAffinityPriority
        weight: 1
      - name: TaintTolerationPriority
        weight: 1
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "amalthea.fullname" . }}-scheduler-config
  namespace: {{ .Release.Namespace }}
data:
  # ref: https://kubernetes.io/docs/reference/scheduling/config/
  config.yaml: |
    apiVersion: kubescheduler.config.k8s.io/v1beta1
    kind: KubeSchedulerConfiguration
    leaderElection:
      leaderElect: false
    profiles:
      - schedulerName: {{ include "amalthea.fullname" . }}-scheduler
{{- end }}
{{- end }}
