{{- if .Values.scheduler.packing.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    component: scheduler
    tier: control-plane
  name: {{ include "amalthea.fullname" . }}-scheduler
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      component: scheduler
      tier: control-plane
  replicas: 1
  template:
    metadata:
      labels:
        component: scheduler
        tier: control-plane
    spec:
      serviceAccountName: {{ include "amalthea.fullname" . }}-scheduler
      containers:
        - command:
            - /usr/local/bin/kube-scheduler
            - --config=/etc/user-scheduler/config.yaml
            {{- if semverCompare "<1.23.0-0" .Capabilities.KubeVersion.GitVersion }}
            - --address=0.0.0.0
            - --policy-configmap={{ include "amalthea.fullname" . }}-scheduler-policy
            - --policy-configmap-namespace={{ .Release.Namespace }}
            - --scheduler-name={{ include "amalthea.fullname" . }}-scheduler
            {{- else }}
            - --bind-address=0.0.0.0
            - --secure-port=10251
            {{- end }}
          image: "{{ .Values.scheduler.packing.image.repository }}:{{ .Values.scheduler.packing.image.tag | default .Capabilities.KubeVersion.GitVersion }}"
          imagePullPolicy: {{ .Values.scheduler.packing.image.pullPolicy }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 10251
              {{- if semverCompare ">=1.23.0-0" .Capabilities.KubeVersion.GitVersion }}
              scheme: HTTPS
              {{- end }}
            initialDelaySeconds: 15
          name: {{ include "amalthea.fullname" . }}-scheduler
          readinessProbe:
            httpGet:
              path: /healthz
              port: 10251
              {{- if semverCompare ">=1.23.0-0" .Capabilities.KubeVersion.GitVersion }}
              scheme: HTTPS
              {{- end }}
          resources:
            requests:
              cpu: "0.1"
          volumeMounts:
            - mountPath: /etc/user-scheduler
              name: config
      volumes:
        - name: config
          configMap:
            name: {{ include "amalthea.fullname" . }}-scheduler-config
{{- end }}
