apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "amalthea.fullname" . }}
  labels:
    app.kubernetes.io/component: controller
    {{- include "amalthea.labels" . | nindent 4 }}
spec:
  # There must be only one instance of the kopf operator handling the
  # same custom resource object at a time.
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "amalthea.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/component: controller
        {{- include "amalthea.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "amalthea.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 300
          args:
            - "--verbose"
            - "--log-format=json"
            {{- if .Values.scope.clusterWide }}
            - "--all-namespaces"
            {{- else }}
            {{- range (.Values.scope.namespaces | default (list .Release.Namespace)) }}
            - "--namespace={{ . }}"
            {{- end }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: CRD_API_GROUP
              value: {{ .Values.crdApiGroup }}
            - name: CRD_API_VERSION
              value: {{ .Values.crdApiVersion }}
            - name: CRD_NAME
              value: {{ .Values.crdNames.kind }}
            - name: AMALTHEA_SELECTOR_LABELS
              value: |
                {{- include "amalthea.selectorLabels" . | nindent 16 }}
            - name: EXTRA_CHILD_RESOURCES
              value: {{ .Values.extraChildResources | toJson | quote }}
            - name: JUPYTER_SERVER_IDLE_CHECK_INTERVAL_SECONDS
              value: {{ .Values.culling.jupyterServerIdleCheckIntervalSeconds | quote }}
            - name: JUPYTER_SERVER_RESOURCE_CHECK_ENABLED
              value: {{ .Values.resourceUsageCheck.enabled | quote }}
            - name: JUPYTER_SERVER_RESOURCE_CHECK_INTERVAL_SECONDS
              value: {{ .Values.resourceUsageCheck.intervalSeconds | quote }}
            - name: CPU_USAGE_MILLICORES_IDLE_THRESHOLD
              value: {{ .Values.culling.cpuUsageMillicoresIdleThreshold | quote }}
            {{- with .Values.kopf.onCreate }}
            - name: KOPF_CREATE_TIMEOUT
              value: {{ .timeout | quote }}
            - name: KOPF_CREATE_BACKOFF
              value: {{ .backoff | quote }}
            - name: KOPF_CREATE_RETRIES
              value: {{ .retries | quote }}
            {{- end }}
            - name: METRICS_ENABLED
              value: {{ .Values.metrics.enabled | quote }}
            - name: METRICS_PORT
              value: {{ .Values.metrics.port | quote }}
            - name: METRICS_EXTRA_LABELS
              value: {{ .Values.metrics.extraMetricsLabels | toJson | quote }}
            {{- if .Values.scheduler.enable}}
            - name: SERVER_SCHEDULER_NAME
              value: {{ include "amalthea.fullname" . }}-scheduler
            {{- end }}
            - name: AUDITLOG_ENABLED
              value: {{ .Values.auditLog.enabled | quote }}
            {{- if .Values.auditLog.enabled }}
            - name: AUDITLOG_S3_ENDPOINT
              value: {{ .Values.auditLog.s3.endpoint | quote }}
            - name: AUDITLOG_S3_BUCKET
              value: {{ .Values.auditLog.s3.bucket | quote }}
            - name: AUDITLOG_S3_PATH_PREFIX
              value: {{ .Values.auditLog.s3.pathPrefix | quote }}
            - name: AUDITLOG_S3_ACCESS_KEY_ID
              value: {{ .Values.auditLog.s3.accessKeyId | quote }}
            - name: AUDITLOG_S3_SECRET_ACCESS_KEY
              value: {{ .Values.auditLog.s3.secretAccessKey | quote }}
            {{- end }}
          volumeMounts:
            - name: config
              mountPath: /app/config
      volumes:
        - name: config
          configMap:
            name: {{ include "amalthea.fullname" . }}-config
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
