apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "amalthea.fullname" . }}
  labels:
    app.kubernetes.io/component: controller
    {{- include "amalthea.labels" . | nindent 4 }}
spec:
  # There must be only one instance of the kopf operator handling the
  # same custom resource object at a time.
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "amalthea.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/component: controller
        {{- include "amalthea.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "amalthea.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 300
          args:
            - "--verbose"
            - "--log-format=json"
            {{- if .Values.scope.clusterWide }}
            - "--all-namespaces"
            {{- else }}
            {{- range (.Values.scope.namespaces | default (list .Release.Namespace)) }}
            - "--namespace={{ . }}"
            {{- end }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: CRD_API_GROUP
              value: {{ .Values.crdApiGroup }}
            - name: CRD_API_VERSION
              value: {{ .Values.crdApiVersion }}
            - name: CRD_NAME
              value: {{ .Values.crdNames.kind }}
            - name: RESCHEDULE_ON_NODE_FAILURE
              value: {{ .Values.rescheduleOnNodeFailure | quote }}
            - name: AMALTHEA_SELECTOR_LABELS
              value: |
                {{- include "amalthea.selectorLabels" . | nindent 16 }}
            - name: EXTRA_CHILD_RESOURCES
              value: {{ .Values.extraChildResources | toJson | quote }}
            {{- with .Values.kopf.onCreate }}
            - name: KOPF_CREATE_TIMEOUT
              value: {{ .timeout }}
            {{- end }}
            {{- with .Values.kopf.onCreate }}
            - name: KOPF_CREATE_BACKOFF
              value: {{ .backoff }}
            {{- end }}
            {{- with .Values.kopf.onCreate }}
            - name: KOPF_CREATE_RETRIES
              value: {{ .retries }}
            {{- end }}
          volumeMounts:
            - name: config
              mountPath: /app/config
      volumes:
        - name: config
          configMap:
            name: {{ include "amalthea.fullname" . }}-config
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
