apiVersion: "amalthea.dev/v1alpha1"
kind: "AmaltheaSession"
metadata:
  name: test-amalthea-session
spec:
  session:
    image: "debian:bookworm-slim"
    command:
      - "sleep"
    args:
      - "3600"
    readinessProbe:
      type: "none"
  culling:
    maxAge: 10m
    maxIdleDuration: 2m
    maxStartingDuration: 2m
    maxFailedDuration: 5m
    maxHibernatedDuration: 30s
