---
# If set to true then the operator will watch and operate in all namespaces
clusterScoped: false
controllerManager:
  manager:
    args:
      - '--health-probe-bind-address=:8081'
      - '--metrics-bind-address=127.0.0.1:8080'
      - '--leader-elect'
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    image:
      repository: renku/amalthea-sessions
      tag: latest
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  replicas: 1
  serviceAccount:
    annotations: {}
# If true, Helm will create two Roles and RoleBindings for
# leader election and managing AmaltheaSessions.
# If false, you have to create the Roles and RoleBindings manually.
createRoles: true
# Whether to install the dependencies or not
deploy:
  csiRclone: false
# Whether to install the CRD
deployCrd: true
kubernetesClusterDomain: cluster.local
# rcloneStorageClass is the storage class name for the csi-rclone Helm chart
# from https://github.com/SwissDataScienceCenter/csi-rclone.
# It is required to mount Rclone data sources in amalthea sessions.
# NOTE:
#  1. Changing the storage class name will result in the restart of all active
#     amalthea sessions.
#  2. This names has to match the following pattern:
#      "{{ csiRclone.storageClassName }}-secret-annotation"
#     For more details, refer to the README of csi-rclone.
rcloneStorageClass: csi-rclone-secret-annotation
sidecars:
  image:
    repository: renku/sidecars
    tag: latest