name: Acceptance Tests

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
      - closed
  workflow_dispatch:

jobs:
  acceptance-tests-images:
    strategy:
      matrix:
        kind-image-version: ["v1.21.2", "v1.20.7", "v1.19.11"]
        helm-version: ["v3.6.3", "v3.0.0"]
        test-image:
          - image: jupyter/minimal-notebook
            env: lab
            spec: jupyterlab.spec.js
        include:
          - kind-image-version: "v1.21.2"
            helm-version: "v3.6.3"
            test-image:
              image: jupyter/r-notebook
              env: lab
              spec: jupyterlab.spec.js
          - kind-image-version: "v1.21.2"
            helm-version: "v3.6.3"
            test-image:
              image: jupyter/tensorflow-notebook
              env: lab
              spec: jupyterlab.spec.js
          - kind-image-version: "v1.21.2"
            helm-version: "v3.6.3"
            test-image:
              image: jupyter/all-spark-notebook
              env: lab
              spec: jupyterlab.spec.js
    runs-on: ubuntu-latest
    steps:
      - name: Pull Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Make Kind Config File
        run: |
          cat <<EOF > kind-config.yaml
          kind: Cluster
          apiVersion: kind.x-k8s.io/v1alpha4
          nodes:
          - role: control-plane
            image: kindest/node:${{ matrix.kind-image-version }}
            kubeadmConfigPatches:
            - |
              kind: InitConfiguration
              nodeRegistration:
                kubeletExtraArgs:
                  node-labels: "ingress-ready=true"
            extraPortMappings:
            - containerPort: 80
              hostPort: 80
              protocol: TCP
            - containerPort: 443
              hostPort: 443
              protocol: TCP
          EOF
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.2.0
        with:
          cluster_name: kind
          wait: 10m0s
          config: kind-config.yaml
      - uses: azure/setup-helm@v1
        with:
          version: ${{ matrix.helm-version }}
        id: install
      - uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Build Chart and Images
        run: |
          python -m pip install --upgrade pip pipenv
          pipenv install --dev
          cd helm-chart
          pipenv run chartpress
          kind load docker-image $(pipenv run chartpress --list-images)
      - name: Install Amalthea and Ingress-Nginx
        run: |
          VERSION=$(curl https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/stable.txt)
          kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/$VERSION/deploy/static/provider/kind/deploy.yaml
          kubectl wait --namespace ingress-nginx --for=condition=ready pod --selector=app.kubernetes.io/component=controller --timeout=90s
          helm dep update helm-chart/amalthea
          helm install amalthea helm-chart/amalthea --wait
      - name: Run Acceptance Tests
        uses: cypress-io/github-action@v2
        env:
          TEST_IMAGE_NAME: ${{ matrix.test-image.image }}
          TEST_SPEC: ${{ matrix.test-image.spec }}
          ENVIRONMENT: ${{ matrix.test-image.env }}
        with:
          working-directory: acceptance-tests
          command: npx mocha test.js
