name: Integration Tests

on:
  pull_request:
    types:
    - opened
    - edited
    - synchronize
    - reopened
    - closed

jobs:
  run-integration-tests:
    strategy:
      fail-fast: false
      matrix:
        pytest-mark: ["examples", "culling"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: helm/kind-action@v1.2.0
        with:
          cluster_name: kind
          wait: 10m0s
      - uses: actions/setup-python@v1
        with:
          python-version: 3.8

      # TODO: Adapt the chart building action in Renku to work for this repo too.
      - name: Build images, load in kind
        env:
          DOCKER_USERNAME: ${{ secrets.RENKU_DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.RENKU_DOCKER_PASSWORD }}
        run: |
          python -m pip install --upgrade pip pipenv
          pipenv install --deploy --system --dev
          cd helm-chart/
          helm dep update amalthea
          pipenv run chartpress
          kind load docker-image $(pipenv run chartpress --list-images) 

      - name: Install amalthea chart
        run: |
          helm repo add metrics-server https://kubernetes-sigs.github.io/metrics-server/
          helm repo update
          helm upgrade --install metrics-server metrics-server/metrics-server --set 'args[0]=--kubelet-insecure-tls'
          cd helm-chart/
          helm install amalthea ./amalthea/ -n default --create-namespace --wait --timeout 5m0s --set culling.jupyterServerIdleCheckIntervalSeconds=10
          helm list -n amalthea

      - name: Run tests
        run: |
          helm lint helm-chart/amalthea
          pipenv install --deploy --system --dev
          pipenv run pytest -m ${{ matrix.pytest-mark }} tests/integration
