name: publish-chart

on:
  push:
  workflow_dispatch:

jobs:
  publish-chart:
    runs-on: ubuntu-latest
    if: "startsWith(github.ref, 'refs/tags/')"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Publish chart and push images
        env:
          DOCKER_USERNAME: ${{ secrets.RENKU_DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.RENKU_DOCKER_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.RENKUBOT_GITHUB_TOKEN }}
        run: |
          cd helm-chart/
          python -m pip install --upgrade pip pipenv
          pipenv install --deploy --system --dev
          git config --global user.email "renku@datascience.ch"
          git config --global user.name "Renku Bot"
          echo ${DOCKER_PASSWORD} | docker login -u ${DOCKER_USERNAME} --password-stdin
          export TAG=$(echo ${GITHUB_REF} | cut -d/ -f3)
          helm dep update amalthea
          chartpress --tag $TAG
          helm lint amalthea
          chartpress --tag $TAG --push --publish-chart
          chartpress --tag latest --push
