name: Tests

on:
  pull_request:
    types:
    - opened
    - edited
    - synchronize
    - reopened
    - closed

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Tests
        uses: devcontainers/ci@v0.3
        with:
          runCmd: |
            make style_checks && \
            make lint
          push: never
          skipContainerUserIdUpdate: false

  amalthea-legacy-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Tests
        uses: devcontainers/ci@v0.3
        with:
          runCmd: |
            make tests
          push: never
          skipContainerUserIdUpdate: false

  amalthea-go-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Tests
        uses: devcontainers/ci@v0.3
        with:
          runCmd: |
            make test && \
            make test-e2e
          push: never
          skipContainerUserIdUpdate: false

  helm-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Tests
        uses: devcontainers/ci@v0.3
        with:
          runCmd: |
            helm dep update helm-chart/amalthea && \
            helm lint helm-chart/amalthea && \
            helm dep update helm-chart/amalthea-sessions && \
            helm lint helm-chart/amalthea-sessions
          push: never
          skipContainerUserIdUpdate: false
